- name: Tmux | Ensure tmux installed
  ansible.builtin.package:
    name: tmux
    state: present

- name: Tmux | Configure tmux
  ansible.builtin.template:
    src: tmux-custom-conf.j2
    dest: "/home/{{ ansible_user }}/.tmux.conf"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
