#!/bin/sh

{{ ansible_managed | comment }}

# Retrieve data
## CPU Usage
cpu_usage=$(top -bn1 | grep "Cpu(s)" | sed "s/., *\([0-9.]\)%* id.*/\1/" | awk '{print 100 - $1}')

## Memory Usage
mem_usage=$(free -m | awk 'NR==2{printf "%.2f%%", $3*100/$2}')

## Disk Usage
disk_usage=$(df -h / | awk 'NR==2{print $5}')

## IP Address
ip_address=$(hostname -I | cut -d' ' -f1)

## Get UTC Time
utc_time=$(date -u +"%Y-%m-%d %H:%M:%S UTC")

## Function to convert temperature from millidegrees Celsius to degrees Celsius
convert_to_celsius() {
    temp=$1
    echo "scale=2; $temp / 1000" | bc
}

## CPU Temperature (using sysfs interface)
{% if ansible_os_family | lower == 'debian' %}
cpu_temp=$(cat /sys/class/thermal/thermal_zone0/temp)
cpu_temp=$(convert_to_celsius $cpu_temp)
{% endif %}

# Display Welcome Message
{% if ansible_facts['machine'] | lower == 'aarch64' %}
toilet -f standard Alex    Raspberry PI --gay -w 100
{% elif ansible_facts['distribution'] | lower == 'ubuntu' %}
toilet -f standard Alex Ubuntu --gay
{% elif ansible_facts['distribution'] | lower == 'almalinux' %}
toilet -f standard Alex Alma --gay
{% elif ansible_facts['distribution'] | lower == 'debian' %}
toilet -f standard Alex Debian --gay
{% elif ansible_facts['distribution'] | lower == 'centos' %}
toilet -f standard Alex Centos --gay
{% else %}
toilet -f standard Alex Unknown --gay
{% endif %}
printf "Welcome to server \e[1;32m$(hostname)\e[0m. Running on\e[1;32m$(hostnamectl | grep Operating | awk -F ":" '{ print $2 }')\e[0m, Kernel Release \e[1;32m$(uname -r)\e[0m\n\n"

# Display System Information
echo "System Information as of $utc_time:"
echo
echo "  *  CPU Usage: $cpu_usage%"
{% if ansible_os_family | lower == 'debian' %}
echo "  *  CPU Temperature: $cpu_temp C"
{% endif %}
echo "  *  Memory Usage: $mem_usage"
echo "  *  Usage of /: $disk_usage"
echo "  *  IPv4 Address: $ip_address"
echo
