#!/bin/sh

{{ ansible_managed | comment }}

printf "\e[33mWARNING:\e[0m Alex is watching all your actions 0_0, everything you do is monitored.
It is a test server, so I don't care what you do, but if you are not authorized to access this server...
I'll catch you and give you what you deserve ¬¬\n\n"
printf "\e[33mWARNING:\e[0m This system is installed and managed by Ansible so be careful when you change configurations, \n         because they will be overridden if not reported in ansible.\n\n"

printf "Last Ansible Run: {{ now(utc=true,fmt='%Y-%m-%d %H:%M:%S') }} UTC\n"
